*{
   margin: 0;
   padding: 0;
}

.ms{
    color: red;
    text-align: center;
    font-size:40px;
    
}

.formating{
  float: right;
  padding: 20px;
  display:flex;
}

.bill_type{
  padding: 20px;
  align-items:center;

}

.bill_type_text{
  font-size:20px;
  color: red;
}

.bill_select{
  height: 35px; 
  padding: 20px;
  width: 90px;
  display: flex;
  align-items: center;
}

.bill_type_select{
  height: 100%; 
  width: 100%;
  font-size: 12px; 
  padding: 8px;
  border-radius:12px;
}

.detail{
  padding: 20px;
  padding-bottom: 12px;
}
 
.detail_name{
  display: flex;
  padding: 10px;
  margin-right: 20px;
}


.orginaction_input{
  margin-left: 20px;
}

.detail_address{
  display: flex;
  padding: 10px;
}

.detail_phone{
  display: flex;
  padding: 10px;
}

.detail_code{
  display: flex;
  padding: 10px;

}

