*{
   margin: 0;
   padding: 0;
}
.ms{
    color: red;
    text-align: center;
    font-size:40px;
}

.formating{
  float: right;
  background-color: lightblue; 
  padding: 10px;
  display:row;
}

.bill_type{


}

.bill_size{


}
