*{
   margin: 0;
   padding: 0;
}

.ms{
    color: red;
    text-align: center;
    font-size:40px;
    font-width: 12px;
}

.formating{
  float: right;
  background-color: lightblue; 
  padding: 20px;
  display:flex;
}

.bill_type{
  padding: 20px;

}

.bill_type_text{
  font-size:20px;
  color: red;

}

.bill_select{
  padding: 20px;

}

.bill_type_select{
  padding: 2px;
}
